<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CaseStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReadServlet</display-name>
    <servlet-name>CustomerReadServlet</servlet-name>
    <servlet-class>com.controllers.CustomerReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReadServlet</servlet-name>
    <url-pattern>/CustomerReadServlet</url-pattern>
    <url-pattern>/CustomerReadServlet/updateCustomer</url-pattern>
    <url-pattern>/CustomerReadServlet/deleteCustomer</url-pattern>
    <url-pattern>/CustomerReadServlet/searchCustomer</url-pattern>
    <url-pattern>/CustomerReadServlet/customerStatus</url-pattern>
    <url-pattern>/CustomerReadServlet/viewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerWriteServlet</display-name>
    <servlet-name>CustomerWriteServlet</servlet-name>
    <servlet-class>com.controllers.CustomerWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerWriteServlet</servlet-name>
    <url-pattern>/CustomerWriteServlet</url-pattern>
    <url-pattern>/CustomerWriteServlet/createCustomer</url-pattern>
    <url-pattern>/CustomerWriteServlet/deleteCustomer</url-pattern>
    <url-pattern>/CustomerWriteServlet/updateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountReadServlet</display-name>
    <servlet-name>AccountReadServlet</servlet-name>
    <servlet-class>com.controllers.AccountReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountReadServlet</servlet-name>
    <url-pattern>/AccountReadServlet</url-pattern>
    <url-pattern>/AccountReadServlet/accountStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountWriteServlet</display-name>
    <servlet-name>AccountWriteServlet</servlet-name>
    <servlet-class>com.controllers.AccountWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountWriteServlet</servlet-name>
    <url-pattern>/AccountWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>